/* GLOBAL RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
html,
body {
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
}

/* BODY */
body {
  background: #000000;
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON RESET */
button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

/* IMAGES */
img {
  max-width: 100%;
  display: block;
}
